body {
    background-color: #f0f8ff;
}

.categories,
.answers,
.form { width: fit-content; }

.new-book { margin: 40px; }
.forms-container,
form { margin: 0px 40px 40px 40px; }

.form {
    display: grid;
    grid-template-columns: 150px max-content;

    column-gap: 1rem;
    row-gap: 0.5rem;
    
    padding: 10px;
    border-style: solid;
    border-radius: 5px;

    width: fit-content;
}

.categories { grid-column: 1; min-width: max-content;}
.answers { grid-column: 2; }

.forms-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 200px;
}

.absolute {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

form p.category, form input.answer { margin: 0.2rem;}

form input.answer {
    margin: 0.2rem;
    background-color: #e5ebf5;
    border-style: solid;
    border-color: black;
}