body {
    background-color: #9EC8B9;
}

.new-book {
    background-color: #1B4242;
    color: #bbbbbb;
    box-shadow: 3px 3px 5px 0px #1b4b31;
    border-color: #838383;
    border-style: solid;

    margin: 40px;
    padding: 5px;
    transition: transform 0.05s;
}
.new-book:hover { transform: scale(1.04); }
.new-book:active { transform: scale(1.02); }

.close {
    height: 20px; width: 20px;
    padding: 0; margin: 2px;
    background-color: rgba(255, 0, 0, 0.747);
    border-style: solid;
    transition: transform 0.05s;
}
.close:hover { transform: scale(1.15); }
.close:active { transform: scale(1.1); }

.form {
    background-color: #1B4242;
    color: #bbbbbb;
    box-shadow: 3px 3px 5px 0px #1b4b31;
    border-color: #677779;

    margin: 0px 40px 40px 40px;
}

form input.answer {
    background-color: #869490;
    border-style: solid;
    border-color: black;
}

input[type=checkbox] {
    width: 20px; height: 20px;
} 
input[type='checkbox']::after {
    width: 20px; height: 20px;
    content: '';
    display: inline-block;
    border: 1px solid #c0c0c0;
    border-radius: 0.25em;
    background: #869490;
}
input[type='checkbox']:checked::after {
    border: 3px solid #00ff00e1;
} 

input[type='submit'] {
    background-color: #163b2d;
    border-style: solid;
    border-color: black;
    color: #bbbbbb;
}

.categories,
.answers,
.form { width: fit-content; }

.form {
    display: grid;
    grid-template-columns: 150px max-content;
    align-items: center;
    column-gap: 1rem;
    row-gap: 0.5rem;
    
    padding: 10px;
    border-style: solid;
    border-radius: 5px;

    width: fit-content;
}

.categories { grid-column: 1; min-width: max-content;}
.answers { grid-column: 2; }

.forms-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 200px;
}

form p.category, form input.answer { margin: 0.2rem;}
form input.answer { margin: 0.2rem; }

.overlay-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: #0000009f;
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    
    z-index: 1;
}

.absolute {
    position: relative;
    z-index: 2;
}